.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    position: relative;
}
.navbar .logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 7px 10px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
}
a:hover{
    color: whitesmoke;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px; /* Adjust to position below the navbar */
        right: 0;
        left: 0;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        display: none;
        transition: all 0.3s ease-in;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links a {
        font-size: 20px;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}
/*footer*/
.footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
}
.footer-section {
    flex: 1;
    padding: 1rem;
}
.footer-section h3 {
    margin-bottom: 1rem;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 0.5rem;
}
.footer-section ul li a {
    color: white;
    text-decoration: none;
}
.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #222;
    padding: 0.5rem 0;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-section {
        max-width: 300px;
        text-align: center;
    }
}
.footer h3{
  color: whitesmoke;
}